.opener {
    font-size: 1.1rem;
    text-align: left;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px 20px;
}

.opener h2 {
    font-family: "Superleague2";
    margin: 12px 0;
}

.opener .title-opener h2 {
    font-family: "Superleague1";
    text-align: left;
    margin: 12px 0;
}

.opener .title-opener {
    background: linear-gradient(238.82deg, #2CB2FF 6.02%, #F555DB 95.62%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: left;
}

.main-section {
    background-color: yellow;
    background-image: url("https://thesuperleague.it/assets/images/format-bg-image-mobile.jpg");
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px;
    color: #fff;
}

.main-section ul {
    list-style: none;
    padding: 0;
}

.main-section ul li {
    margin: 50px 0;
    text-align: left;
    font-size: 1.3rem;
}

.main-section h2 {
    font-family: "Superleague1";
}

.main-section h2 span {
    font-family: "Superleague2";
    font-size: 2.1rem;
}

.competition, .club, .match, .fairplay {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url('https://thesuperleague.it/assets/images/format/Icon%20Badge_HOVER.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.club {
    background-image: url('https://thesuperleague.it/assets/images/format/Icon%20Trophy.svg');
}

.match {
    background-image: url('https://thesuperleague.it/assets/images/format/Icon%20Field.svg');
}

.fairplay {
    background-image: url('https://thesuperleague.it/assets/images/format/Icon%20Staduim.svg');
}