.footer {
    position: relative;
    top: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    touch-action: none;
    overflow-x: hidden;
}

.border-gradient {
    text-align: center;
    border-top: 3px solid;
    border-image-slice: 1;
    border-width: 3px;
    padding: 5px 50px 20px 50px;
}

.border-gradient-purple {
    border-image-source: linear-gradient(238.82deg, #2CB2FF 6.02%, #F555DB 95.62%);
}

.footer div h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #A2A2A2;
    margin-top: 0;
}